{% extends "bootstrap/base.html" %}

{% block content %}
    <div class="page-header"></div>

    <div class="container">
        <div class="jumbotron">
            {% if updating %}
                <h1>Updating library</h1>
                <p>Started {{ update_started }} by <span style="font-family: monospace;">{{ updater.cmdline }}</span> (PID {{ updater.pid }})</p>
                <i>{{ updating }}</i>
            {% else %}
                <h1>Library</h1>
                {% if last_update %}
                    <p>Last library update was {{ last_update }}</p>
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endblock %}
